.ios,
.md {
    page-home {

      ion-slides {
        height: auto;
      }

        .listItem {
            background-color: rgba(256, 256, 256, 0.3);
            text-align: center;
        }

        .roundedEdges {
            border-radius: 0px 0px 15px 15px;
        }
        .roundedEdgesLeft {
          border-radius: 15px 0px 0px 0px;
        }

        .roundedEdgesRight {
          border-radius: 0px 15px 0px 0px;
        }

        .roundedEdgesTop {
          border-radius: 0px 0px 0px 0px;
        }

        .roundedEdgesBottom {
          border-radius: 0px 0px 15px 15px;
        }
    }
}
