// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.



@font-face {
  font-family: Roboto-300;
  src: url('../assets/fonts/Roboto.woff2');
}

*{
  // color: white;
  font-family: Roboto-300;
}


// App Background Color Navy Blue
.scroll-content {
    background: -webkit-linear-gradient(top,#222e54,#222e54);
    /*Safari 5.1-6*/
    background: -o-linear-gradient(top,#222e54,#222e54);
    /*Opera 11.1-12*/
    background: -moz-linear-gradient(top,#222e54,#222e54);
    /*Fx 3.6-15*/
    background: linear-gradient(to top, #222e54, #222e54);
    /*Standard*/
    // background-color: map-get($colors, primary);
    // background-image: url('../assets/images/network.jpg');
    // background-position: center;
}

// Header section of card is bold with slight transpacency
ion-card-header {
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 1 !important;
    text-align: center;
}
// Card shape is rounded with some transparency
.cryptCard {
    background-color: rgba(256, 256, 256, 0.7);
    border-radius: 15px;
    // opacity: 0.7;
}


// Animations for enter and leave
.pmtAnim.ng-enter {
	-webkit-animation: fadeInDown 0.8s;
	animation: fadeInDown 0.8s;
}
.pmtAnim.ng-enter-stagger {
  	-webkit-animation-delay: 100ms;
  	animation-delay: 100ms;
  /* override to make sure it's not inherited from other styles */
  	-webkit-animation-duration: 0;
  	animation-duration: 0;
}
.pmtAnim.ng-leave{
	-webkit-animation: fadeOutRight 0.8s;
	animation: fadeOutRight 0.8s;
}
